form {
  max-width: 600px;
  margin: auto;
}

.form-ul {
  list-style-type: none;
  padding: 0;
}

.form-ul li {
  display: block;
  margin: 15px;
}
input, select, button {
  display: block;
  height: 40px;
  box-sizing: border-box;
  padding:10px;
  width: 100%;
  margin-top: 3px;
}

.bedroom-bathroom-flex-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  align-items: stretch;
}

.bedroom-li, .bathroom-li {
  flex-grow: 1;
}

.currency-wrapper {
  position: relative;
  min-height: 40px;
}

.currency-symbol {
  position: absolute;
  margin: 0;
  top: 50%;
  left: 9px;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);

}

.currency-wrapper input {
  position: absolute;
  top: 0;
  left: 0;
  padding-left: 24px;
}

.add-property-button {
  margin: 40px auto 0 auto;
  font-size: 20px;
  width: fit-content;
  height: fit-content;
  background-color: thistle;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}