.favourites {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "side-bar"
    "title"
    "favourites-grid";
}

.favourites h2 {
  padding: 20px;
  font-weight: 500;
  grid-area: title;
}

.favourites-grid {
  display: grid;
  padding: 20px;
  grid-auto-rows: min-content;
  gap: 10px;
  max-width: 1000px;
  grid-area: favourites-grid;
}

.favourite-card {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  border: 2px solid thistle;
  border-radius: 4px;
  padding: 5px;
  background-color: white;
}

.favourite-card h4 {
  margin: 0;
  flex: 1 1 auto;
}

.remove-favourite-button {
  flex: 0 0 50px;
  height: 50px;
  text-align: center;
  color: #de0000;
  background-color: #ffc2c2;
  border: 3px solid #de000091;
  border-radius: 4px;
  font-size: 20px;
  padding: 0;
  cursor: pointer;
}

.remove-favourite-button svg {
  margin: auto;
}

@media screen and (min-width: 700px) {
  .favourites {
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "side-bar title"
      "side-bar favourites-grid";
  }
}