.navbar {
  background-color: thistle;
}
.header-name {
  margin: 0;
  display: inline-block;
}

.navbar-links {
  margin: 0;
  padding: 0;
}

.navbar-links-item {
  margin: 0;
  padding: 20px;
  display: inline-block;
}

.navbar-links-item a {
  color: black;
}

.navbar-links-item a:link {
  text-decoration: none;
}

.navbar-links-item a:visited {
  text-decoration: none;
}

.navbar-links-item a:active {
  text-decoration: none;
}