.navbar {
  background-color: thistle;
  background-image: 
    linear-gradient( rgba(255, 255, 255, 0.392), black),
    url("../images/navbar-banner.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.header-flex-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.login-button, .logout-button {
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  opacity: 0.8;
  height: min-content;
  border-radius: 0;
  background-color: #4267B2;
  color: white;
  border: none;
  cursor: pointer;
  margin: auto;
  width: max-content;
  border-radius: 0 0 0 10px;
  margin-top: 0;
  margin-right: 0;
}

.facebook-button-text {
  display: none;
  margin: 0;
}
.fa-facebook {
  margin: 0;
}

header {
  flex-grow: 1;
}

.header-name {
  margin: 0;
  display: inline-block;
}

.navbar-links {
  margin: 0;
  padding: 0;
  display: flex;
  flex-flow: row nowrap;
}

.navbar-links-item {
  margin: 0;
  padding: 20px;
  display: inline-block;
}

.navbar-links-item a {
  color: black;
}

.navbar-links-item a:link {
  text-decoration: none;
}

.navbar-links-item a:visited {
  text-decoration: none;
}

.navbar-links-item a:active {
  text-decoration: none;
}

@media screen and (min-width: 430px) {
  .facebook-button-text {
    display: inline-block;
    margin-left: 4px;
  }
}
@media screen and (min-width: 800px) {
  .logo {
    height: 100px;
    width: 80px;
  }
  .header-name {
    font-size: 60px;
  }
}