.property-card {
  width: 100%;
  border: 3px solid thistle;
  box-sizing: border-box;
  padding: 30px;
  margin: 0;
  border-radius: 4px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
}

h4 {
  margin: 0 0 20px 0;
}

.property-card > div {
  padding: 5px 10px;
}

.prop-card-email, .prop-card-favourite-button {
  width: 100%;
  margin: 20px 0 0 0;
  padding: 10px 0;
  text-align: center;
  border-radius: 4px;
  font-size: 16px;
}

.prop-card-email {
  background-color: rgb(101, 45, 101);
  color: whitesmoke;
}
.prop-card-favourite-button {
  background-color: whitesmoke;
  color: rgb(101, 45, 101);
  border: 1px solid rgb(101, 45, 101);
}

a:link, a:visited {
  color:whitesmoke !important;
  text-decoration: none;
}

.prop-card-email:hover {
  background-color:rgb(51, 51, 51);
  font-weight: 800;
}

.prop-card-favourite-button:hover {
  background-color: thistle;
  font-weight: 800;
}
.prop-card-favourite-button:disabled {
  background-color: whitesmoke;
  font-weight: 600;
  color:rgb(89, 89, 89);
  border-color: rgb(89, 89, 89);
  background-color: rgb(189, 189, 189);
}

svg {
  margin-right: 10px;
}