.properties {
  margin: 0;
  padding: 0;
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-areas: 
    "side-bar"
    "title"
    "properties-grid";
}

.properties h2 {
  grid-area: title;
  padding: 20px;
}

.properties-grid {
  display: grid;
  padding: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-auto-rows: min-content;
  gap: 10px;
  grid-area: properties-grid;
}

@media screen and (min-width: 700px) {
  .properties {
    grid-template-columns: 200px 1fr;
    grid-template-areas:
      "side-bar title"
      "side-bar properties-grid";
  }
}