.side-bar {
  grid-area: side-bar;
  background-color: slategrey;
  display: flex;
  flex-direction: column;
}

.side-bar-link {
  padding: 10px;
  text-align: center;
}

@media screen and (min-width: 700px) {
  .side-bar {
    padding-top: 20px;
  }
}